.about-section {
    width: var(--smallWidth);
    max-width: var(--maxWidth);
    margin: 0 auto;
    p {
        text-align: justify;
        line-height: 2rem;
        letter-spacing: 2px;
    }
}
