.cocktail {
    background: var(--white);
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius);
    max-width: 350px;
    &:hover {
        box-shadow: var(--box-hover-shadow);
        img {
            opacity: 0.8;
        }
        .cocktail-footer {
            h3 {
                transform: scale(1);
            }
            h4 {
                transform: scale(1);
            }
        }
    }
    .img-container {
        img {
            width: 100%;
            height: auto;
            transition: var(--mainTransition);
        }
    }
    .cocktail-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0rem;
        h3 {
            color: var(--primary-500);
            font-weight: 900;
            font-size: 2.2rem;
            transform: scale(0.9);
            transition: var(--mainTransition);
        }
        h4 {
            font-size: 1.5rem;
            transform: scale(0.9);
            transition: var(--mainTransition);
        }
        p {
            font-size: 1.2rem;
            text-align: center;
            transition: var(--mainTransition);
        }
    }
}

// .cocktail {
//   background: var(--mainWhite);
//   margin-bottom: 2rem;
//   box-shadow: var(--lightShadow);
//   transition: var(--mainTransition);
//   display: grid;
//   grid-template-rows: auto 1fr;
//   border-radius: var(--mainBorderRadius);
// }
// .cocktail:hover {
//   box-shadow: var(--darkShadow);
// }
// .cocktail img {
//   height: 20rem;
//   object-fit: cover;
//   border-top-left-radius: var(--mainBorderRadius);
//   border-top-right-radius: var(--mainBorderRadius);
// }
// .cocktail-footer {
//   padding: 1.5rem;
// }
// .cocktail-footer h3,
// .cocktail-footer h4,
// .cocktail-footer p {
//   margin-bottom: 0.3rem;
// }
// .cocktail-footer h3 {
//   font-size: 2rem;
// }
// .cocktail-footer p {
//   color: var(--darkGrey);
//   margin-bottom: 0.5rem;
// }
