@import './variables.scss';
.search {
    margin-top: 3rem;
    padding-bottom: 0;
}

.search-form {
    width: var(--smallWidth);
    margin: 0rem auto;
    max-width: var(--maxWidth);
    background: var(--mainWhite);
    padding: 2rem 2.5rem;
    text-transform: capitalize;
    border-radius: var(--mainBorderRadius);
    box-shadow: var(--box-shadow);
}
@media (max-width: $small) {
    .search-form {
        padding: 1rem 0.5rem;
    }
}

.form-control label {
    width: 100%;
    text-align: center;
    display: block;
    font-size: clamp(1.5rem, 6vw, 2rem);
    margin-bottom: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: var(--primary-500);
    text-shadow: var(--dark-shadow);
}
.form-control input {
    width: 100%;
    border: none;
    border: 1px solid transparent;
    outline: none;
    background: var(--light-gray);
    border-radius: var(--radius);
    padding: 0.5rem;
    font-size: 1.2rem;
    transition: var(--mainTransition);
}
.form-control input:focus {
    border-color: var(--primary-500);
}
