:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --small: 576px;
  --medium: 768px;
  --large: 992px;
  --maxWidth: 1200px;
  --primary-100: hsl(33, 91%, 90%);
  --primary-200: hsl(33, 91%, 80%);
  --primary-300: hsl(33, 91%, 70%);
  --primary-400: hsl(33, 91%, 60%);
  --primary-500: hsl(33, 91%, 50%);
  --primary-600: hsl(33, 91%, 40%);
  --primary-700: hsl(33, 91%, 30%);
  --primary-800: hsl(33, 91%, 20%);
  --primary-900: hsl(33, 91%, 10%);
  --white: #fff;
  --black: #222;
  --light-gray: #f1f5f8;
  --red: #bd0303;
  --green: #476a2e;
  --mainTransition: all 0.4s ease;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --box-hover-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  --button-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cocktail-section {
  margin: 2.5rem auto;
  max-width: var(--maxWidth);
  width: 100%;
  padding: 0rem 1rem;
}

.cocktail-section h2 {
  display: block;
  width: 100%;
}

.cocktail-section .drink {
  width: 100%;
  margin-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(350px, 2fr) 3fr;
      grid-template-columns: minmax(350px, 2fr) 3fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.cocktail-section .drink .img-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cocktail-section .drink .img-container img {
  width: 100%;
  height: auto;
}

.cocktail-section .drink .drink-info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 1ch;
}

.cocktail-section .drink .drink-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.cocktail-section .drink .drink-info p .drink-data {
  background: var(--primary-200);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  color: var(--primary-500);
  margin-right: 1ch;
  height: 100%;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .cocktail-section .drink {
    width: 100%;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0rem 1rem;
  }
  .cocktail-section .drink .img-container {
    margin: 0rem auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .cocktail-section .drink .img-container img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
  .cocktail-section .drink .drink-info {
    width: 100%;
    max-width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
    margin-left: 0rem;
    padding-left: 0rem;
  }
  .cocktail-section .drink .drink-info p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .cocktail-section .drink .drink-info p .drink-data {
    background: var(--primary-200);
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
    color: var(--primary-500);
    margin-right: 1ch;
    height: 100%;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: left;
    white-space: nowrap;
  }
}

@media (max-width: 576px) {
  .cocktail-section .drink {
    width: 100%;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0rem 1rem;
  }
  .cocktail-section .drink .img-container {
    margin: 0rem auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .cocktail-section .drink .img-container img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
  .cocktail-section .drink .drink-info {
    width: 100%;
    max-width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
    margin-left: 0rem;
    padding-left: 0rem;
  }
  .cocktail-section .drink .drink-info p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0%;
    text-align: center;
  }
  .cocktail-section .drink .drink-info p .drink-data {
    display: inline-block;
    margin-right: 0rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
/*# sourceMappingURL=singleCocktail.css.map */